@font-face {
    font-family: "Norse Bold";
    src: url("./Fonts/Norse-Bold.otf");
}

:root {
    --left-space: 48px;
}

body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
}

.image-section {
    display: flex;
    flex: 3;
    color: white;
    min-width: 73.5vh;
    background-image: url(./images/pink-clouds-wallpaper-picjumbo-com.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.clouds-img {
    width: 100%;
    
}

.odin-opacity-background {
    display: flex;
    height: 15.5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    margin-bottom: 26rem;    
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    font-family: Norse Bold;
}

.odin-opacity-background img {
    height: 8rem;
    width: 6rem;
}

/*------------- Text Section Styling -------------*/

.sign-up-section {
    background-color: #f4f6fa;
}

.form-section { 
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: var(--left-space);
    box-shadow:  0px 5px 4px rgba(0, 0, 0, 0.1);
}

.inputs > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 24px;
}

label,input {
    display: flex;   
}

.headers {
    margin: 3rem;
    margin-top: 12.79rem;
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    font-size: 1.22rem;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    box-sizing: border-box;
}

label {
    font-size: .7rem;
    letter-spacing: .1rem;
}

.create-acct {
    margin: 2rem;
    margin-left: 3rem;
    height: 3rem;
    width: 14rem;
    border-radius: 9.5px;
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 700;
    background-color: rgba(231, 0, 252, 0.349);
}

.already-have-acct {
    font-size: 1rem;
    margin-left: 3rem;
}

/*--------------- psuedo class styling -------------*/

input:hover, input:focus-visible {
    border: 2px solid lightblue;
}

input:invalid {
   border: 1px solid red;
}

input:invalid + span::after {
    content: "Passwords do not match!";
    font-size: 0.85rem;
    color: rgba(255, 0, 0, 0.973);
}


