body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
}

.image-section {
    display: flex;
    flex: 3;
    color: white;
    min-width: 69vh;
    background-image: url(./images/pink-clouds-wallpaper-picjumbo-com.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.clouds-img {
    width: 100%;
    
}

.odin-opacity-background {
    display: flex;
    height: 17.7vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    margin-bottom: 13rem;    
    justify-content: center;
    align-items: center;
    font-size: 15vh;
}

.odin-opacity-background img {
    height: 10rem;
    width: 8rem;
}

/*------------- Text Section Styling -------------*/

.sign-up-section {
    background-color: #f4f6fa;

}



.form-section {
    height: 20rem;
    background-color: #FFFFFF;
    margin-top: 9rem;
}

.inputs > div {
    display: flex;
    
}

