body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
}

.image-section {
    display: flex;
    flex: 3;
    color: white;
    background-size: cover;
}

.banner .clouds-img {
    width: 35rem;
    position: absolute;
}

.odin-opacity-background {
    position: relative;
    display: flex;
    height: 22vh;
    width: 141%;
    background-color: rgba(0, 0, 0, 0.267);
    top: 25vh;    
    justify-content: center;
    align-items: center;
    font-size: 15vh;
    
}

.odin-opacity-background img {
    height: 10rem;
    width: 8rem;
}
